.App {
  text-align: center;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.App button {
  background-color: green;
  color: white;
  border: "1px solid black";
  padding: "8px";
  margin: "20px";
  border-radius: "10px";
  cursor: "pointer";
}
.App button:hover {
  background-color: yellow;
  color: black;
}

.App button.red {
  background-color: red;
}
.App button.red:hover {
  background-color: pink;
}
