.Person {
  padding: 16px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 0 2px 2px 1px black;
  width: 60%;
  margin: 15px;
  align-items: center;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
