.Person {
  width: 600px;
  padding: 16px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  box-shadow: 0 2px 2px 1px black;
}
@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
