.red {
  color: red;
}
.bold {
  font-weight: bold;
}

.button {
  background-color: green;
  color: white;
  border: 1px solid black;
  padding: 8px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: yellow;
  color: black;
}
.button.red {
  background-color: red;
}

.button.red:hover {
  background-color: pink;
}
